In [1]:
import pandas as pd
dates = ['2022/02/06 3:30:00 PM','february 03, 2022 14:30','abc']
pd.to_datetime(dates,errors= 'ignore')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_12464\208711435.py:3: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  pd.to_datetime(dates,errors= 'ignore')
C:\Users\Administrator\AppData\Local\Temp\ipykernel_12464\208711435.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(dates,errors= 'ignore')

Index(['2022/02/06 3:30:00 PM', 'february 03, 2022 14:30', 'abc'], dtype='object')

In [2]:
t = 1713084446
dt = pd.to_datetime([t], unit='s')
dt

DatetimeIndex(['2024-04-14 08:47:26'], dtype='datetime64[ns]', freq=None)

In [3]:
dt.view('int64')

array([1713084446000000000], dtype=int64)

In [4]:
a=pd.Period('2024')
a

Period('2024', 'Y-DEC')

In [5]:
dir(a)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [6]:
a.start_time

Timestamp('2024-01-01 00:00:00')

In [7]:
a.end_time

Timestamp('2024-12-31 23:59:59.999999999')

In [8]:
m=pd.Period('2020/02',freq='D')
m

Period('2020-02-01', 'D')

In [9]:
m.start_time

Timestamp('2020-02-01 00:00:00')

In [10]:
m.end_time

Timestamp('2020-02-01 23:59:59.999999999')

In [11]:
m+1

Period('2020-02-02', 'D')

In [12]:
m+pd.offsets.Day(1)

Period('2020-02-02', 'D')

In [13]:
q = pd.Period('2024Q1',freq='Y-JUL')
f =q+2
f

Period('2026', 'Y-JUL')

In [14]:
f.start_time

Timestamp('2025-08-01 00:00:00')

In [15]:
f.asfreq('M',how='end')

Period('2026-07', 'M')

In [16]:
f -q

In [17]:
i = pd.period_range('2011',periods =10,freq='Q-JUL')
i

PeriodIndex(['2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3',
             '2012Q4', '2013Q1', '2013Q2', '2013Q3'],
            dtype='period[Q-JUL]')

In [18]:
i[0].start_time

Timestamp('2010-11-01 00:00:00')

In [19]:
i[1].start_time

Timestamp('2011-02-01 00:00:00')

In [20]:
i[1]-i[0]

In [21]:
import numpy as np
ps = pd.Series(np.random.randn(len(i)),i) #len(i)=-1.740562 and i = 2011Q2
ps

2011Q2    0.255366
2011Q3   -0.680607
2011Q4    0.306303
2012Q1    0.994307
2012Q2   -0.211725
2012Q3   -0.974551
2012Q4    0.300052
2013Q1    0.141483
2013Q2    0.437065
2013Q3    0.394695
Freq: Q-JUL, dtype: float64

In [22]:
ps.loc['2011']#since our financial year started from july

2011Q2    0.255366
2011Q3   -0.680607
2011Q4    0.306303
2012Q1    0.994307
2012Q2   -0.211725
Freq: Q-JUL, dtype: float64

In [23]:
pst = ps.to_timestamp() #converted datetime index from period
pst

2010-11-01    0.255366
2011-02-01   -0.680607
2011-05-01    0.306303
2011-08-01    0.994307
2011-11-01   -0.211725
2012-02-01   -0.974551
2012-05-01    0.300052
2012-08-01    0.141483
2012-11-01    0.437065
2013-02-01    0.394695
Freq: QS-NOV, dtype: float64

In [24]:
import pandas
(pandas.__file__)

'C:\\Users\\Administrator\\AppData\\Local\\Programs\\Python\\Python312\\Lib\\site-packages\\pandas\\__init__.py'

In [25]:
a = pd.period_range('2020',periods=10,freq='Q-JUL')
a

PeriodIndex(['2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2', '2021Q3',
             '2021Q4', '2022Q1', '2022Q2', '2022Q3'],
            dtype='period[Q-JUL]')

In [33]:
r = pd.read_csv(r'E:\newfile py\AAPL.csv')
r

,Date,Open,High,Low,Close,Adj Close,Volume
0,4/10/2023,161.419998,162.029999,160.080002,162.029999,161.169724,47716900
1,4/11/2023,162.350006,162.360001,160.509995,160.800003,159.946259,47644200
2,4/12/2023,161.220001,162.059998,159.779999,160.100006,159.249985,50133100
3,4/13/2023,161.630005,165.800003,161.419998,165.559998,164.680969,68445600
4,4/14/2023,164.589996,166.320007,163.820007,165.210007,164.332840,49386500
...,...,...,...,...,...,...,...
248,4/4/2024,170.289993,171.919998,168.820007,168.820007,168.820007,53704400
249,4/5/2024,169.589996,170.389999,168.949997,169.580002,169.580002,42055200
250,4/8/2024,169.029999,169.199997,168.240005,168.449997,168.449997,37425500
251,4/9/2024,168.699997,170.080002,168.350006,169.669998,169.669998,42451200
252,4/10/2024,168.800003,169.089996,167.110001,167.779999,167.779999,49587200

In [1]:
import pandas as pd
df = pd.read_csv('E:\\newfile py\\stat.csv')
df

        day     city  temperature windspeed   event
0  1/1/2017  NewYork         32.0         6   rainy
1  1/2/2017  NewYork      -9999.0         9     NaN
2  1/3/2017   mumbai         32.0         7    snow
3  1/4/2017  NewYork         34.0         8   rainy
4  1/5/2017   mumbai      -8888.0        12   sunny
5  1/6/2017   mumbai         20.0        13  cloudy
6  1/7/2017    dhaka          NaN        11   sunny
7       NaN      NaN          NaN               NaN

In [2]:
type(df.city[0])

str

In [3]:
df['city'].unique()

array(['NewYork', 'mumbai', 'dhaka', nan], dtype=object)