In [1]:
import pandas as pd 
df = pd.read_csv(r'E:\research\digital divide (Responses).csv')
df

,Timestamp,Your Gender.,Your Occupation.,Your age group.,1. The present digital literacies of rural people are not sufficient.,2. People find it easy to adapt with new digital devices.
0,1/26/2024 14:09:14,Male,Job holder,27-35,Agree,Strongly Agree
1,1/26/2024 17:14:48,Male,Student,18-26,Strongly Disagree,Strongly Agree
2,1/26/2024 18:51:36,Male,Student,18-26,Agree,Neutral
3,1/26/2024 19:04:25,Female,Student,18-26,Strongly Agree,Agree
4,1/26/2024 19:47:35,Male,Job holder,18-26,Strongly Agree,Agree
...,...,...,...,...,...,...
177,3/5/2024 15:26:10,NaN,NaN,NaN,NaN,NaN
178,3/5/2024 15:27:09,NaN,NaN,NaN,NaN,NaN
179,3/5/2024 15:27:29,NaN,NaN,NaN,NaN,NaN
180,3/5/2024 15:27:43,NaN,NaN,NaN,NaN,NaN
181,3/5/2024 15:27:47,NaN,NaN,NaN,NaN,NaN

In [2]:
df.shape

(182, 6)

In [3]:
rows, colums = df.shape

In [4]:
colums

6

In [5]:
rows

182

In [6]:
df.head()

,Timestamp,Your Gender.,Your Occupation.,Your age group.,1. The present digital literacies of rural people are not sufficient.,2. People find it easy to adapt with new digital devices.
0,1/26/2024 14:09:14,Male,Job holder,27-35,Agree,Strongly Agree
1,1/26/2024 17:14:48,Male,Student,18-26,Strongly Disagree,Strongly Agree
2,1/26/2024 18:51:36,Male,Student,18-26,Agree,Neutral
3,1/26/2024 19:04:25,Female,Student,18-26,Strongly Agree,Agree
4,1/26/2024 19:47:35,Male,Job holder,18-26,Strongly Agree,Agree

In [7]:
df.head(2)

,Timestamp,Your Gender.,Your Occupation.,Your age group.,1. The present digital literacies of rural people are not sufficient.,2. People find it easy to adapt with new digital devices.
0,1/26/2024 14:09:14,Male,Job holder,27-35,Agree,Strongly Agree
1,1/26/2024 17:14:48,Male,Student,18-26,Strongly Disagree,Strongly Agree

In [9]:
df.tail(3)

,Timestamp,Your Gender.,Your Occupation.,Your age group.,1. The present digital literacies of rural people are not sufficient.,2. People find it easy to adapt with new digital devices.
179,3/5/2024 15:27:29,NaN,NaN,NaN,NaN,NaN
180,3/5/2024 15:27:43,NaN,NaN,NaN,NaN,NaN
181,3/5/2024 15:27:47,NaN,NaN,NaN,NaN,NaN

In [10]:
df[2:5]

,Timestamp,Your Gender.,Your Occupation.,Your age group.,1. The present digital literacies of rural people are not sufficient.,2. People find it easy to adapt with new digital devices.
2,1/26/2024 18:51:36,Male,Student,18-26,Agree,Neutral
3,1/26/2024 19:04:25,Female,Student,18-26,Strongly Agree,Agree
4,1/26/2024 19:47:35,Male,Job holder,18-26,Strongly Agree,Agree

In [1]:
import pandas as pd
weather_data = {
    'date' : ['01/11/2022','02/11/2022','03/14/2024'],
    'temperature' : [32,33,21],
    'windspeed' : [6,8,5],
    'event' : ['rain','sunny','snow']
}
df = pd.DataFrame(weather_data)
df

         date  temperature  windspeed  event
0  01/11/2022           32          6   rain
1  02/11/2022           33          8  sunny
2  03/14/2024           21          5   snow

In [15]:
df.shape

(3, 4)

In [16]:
df.head()

         date  temperature  windspeed  event
0  01/11/2022           32          6   rain
1  02/11/2022           33          8  sunny
2  03/14/2024           21          5   snow

In [17]:
df.columns

Index(['date', 'temperature', 'windspeed', 'event'], dtype='object')

In [20]:
df.columns

Index(['date', 'temperature', 'windspeed', 'event'], dtype='object')

In [21]:
df.temperature

0    32
1    33
2    21
Name: temperature, dtype: int64

In [22]:
type(df['event'])

pandas.core.series.Series

In [23]:
type(df['temperature'])

pandas.core.series.Series

In [24]:
df

         date  temperature  windspeed  event
0  01/11/2022           32          6   rain
1  02/11/2022           33          8  sunny
2  03/14/2024           21          5   snow

In [26]:
df[['event','date']]

   event        date
0   rain  01/11/2022
1  sunny  02/11/2022
2   snow  03/14/2024

In [27]:
df['temperature'].mean()

28.666666666666668

In [29]:
df['temperature'].median()

32.0

In [30]:
df['temperature'].mode()

0    21
1    32
2    33
Name: temperature, dtype: int64

In [31]:
df['temperature'].std()

6.6583281184793925

In [33]:
df[['date','temperature']][df.temperature==df['temperature'].max()]

         date  temperature
1  02/11/2022           33

In [34]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [35]:
df.set_index('date')

            temperature  windspeed  event
date
01/11/2022           32          6   rain
02/11/2022           33          8  sunny
03/14/2024           21          5   snow

In [37]:
df

         date  temperature  windspeed  event
0  01/11/2022           32          6   rain
1  02/11/2022           33          8  sunny
2  03/14/2024           21          5   snow

In [38]:
df.head()

         date  temperature  windspeed  event
0  01/11/2022           32          6   rain
1  02/11/2022           33          8  sunny
2  03/14/2024           21          5   snow

In [47]:
df.set_index('date',inplace = True)

In [48]:
df

            temperature  windspeed  event
date
01/11/2022           32          6   rain
02/11/2022           33          8  sunny
03/14/2024           21          5   snow

In [49]:
df.loc['02/11/2022']

temperature       33
windspeed          8
event          sunny
Name: 02/11/2022, dtype: object

In [51]:
df.reset_index(inplace= True)

In [52]:
df

         date  temperature  windspeed  event
0  01/11/2022           32          6   rain
1  02/11/2022           33          8  sunny
2  03/14/2024           21          5   snow

In [57]:
df.set_index('event',inplace = True)

In [58]:
df.loc['rain']

temperature    32
windspeed       6
Name: rain, dtype: int64